@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Kaushan+Script&family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.cont-login {
    background-color: rgb(17, 33, 112);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    margin-top: 10px;
    background: #ffffff;
    width: 80%;
    height: auto;
    overflow: scroll;
    outline: none;
    box-shadow: 50px;
    border-radius: 10px;
}

.cards .cont-img {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards .cont-img img {
    width: 20rem;
}

.cards .content {
    background-color: aliceblue;
    width: 100%;
    padding: 20px;
}

.cards .content h3 {
    font-family: 'Kaushan Script', cursive;
}

.btn-login,
.btn-login:hover {
    background-color: rgb(22, 66, 148);
    border-color: rgb(56, 62, 174);
}

input {
    height: 35px;
}

@media (max-width: 767.98px) {

    .cont-login {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cards {
        display: inline;
        height: max-content;
        width: 95%;
        font-size: 14px;
    }

    .cards .cont-img img {
        width: 15rem;
    }

    .cards .content h3 {
        font-size: 20px;
    }

}